html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************** */


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
li, a {
    text-decoration: none;
    color: white;

}
.hero-section{
    
    display: flex;
    color: white;
    border: 2px solid red;
}
header {
    border: 2px solid blue;
    display: flex;
    flex: 1 0 100%;
}
#hero-image-right {
    max-width: 40vw;
}
.info-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
h2 {
    font-weight: bold;
    color: #1f2937;
    font-size: 36px;
}
.boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
   
}
.boxes img {
    max-width: 20vw;
    border-radius: 10px;
    
}
.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
}
blockquote {
    font-size: 36px;
    font-style: italic;
    line-height: 1.4;
}
cite {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    padding-top: 15px;

}
.signup-section {
    background-color: #3882f6;
    color: white;
    margin: 50px 60px;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.signup-left {
    padding-right: 40px;
}
.signup-left p{
    padding-bottom: 10px;
    font-size: 16px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.signup-container {
    background-color: aliceblue;
}
button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    width: 125px;
}
footer {
    color: white;
    text-align: center;
    padding: 3%;
    font-size: .9em;
}
/* header, footer, .one {
    color:  #F9FAF8;

} */
/* nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;

} */

/* h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 100px 0 0px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;


} */
/* .one-left,p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px 0 0 100px;

} */
/* nav p {
    font-size:  24px;
    color: #F9FAF8;
} */
/* li, a {
    color:  #F9FAF8;
    text-decoration: none;
    list-style-type: none;
    padding-left: 40px;

} */
